@import "../../../utilities/variables.scss";
@import "../../../utilities/classes.scss";


.tasks {
    .tasks-title-section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            @extend .title;
        }
    }

}