@import "../../../utilities/classes.scss";

.youtube-stream-wrapper {
    position: relative;
    padding-bottom: 56.25%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.youtube-form {
    @extend .form;
}

.change-section-youtube {
    display: flex;
    align-items: center;
    margin: 10px 0 5px 0;
    cursor: pointer;
    user-select: none;
}