@import "../../../utilities/variables.scss";
@import "../../../utilities/classes.scss";

.task {
    @extend .card;
    margin-top: 15px;
    box-shadow: 0px 8px 15px 1px $secondary-glow;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.completed {
        border: 1px solid $primary-colour;

        .task-text {
            text-decoration: line-through;
        }

        #task-done-button {
            color: $primary-colour;
        }
    }
}