@import "../../../utilities/variables.scss";
@import "../../../utilities/classes.scss";


.music {
    color: white;

    .music-title-section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            @extend .title;
        }
    }
}