@import "../../../utilities/classes.scss";
@import "../../../utilities/variables.scss";

.spotify-stream-wrapper {
    iframe {
        width: 100%;
        box-shadow: 0px 5px 14px 7px $primary-glow;
    }

}

.spotify-form {
    @extend .form;
}

.change-section-spotify {
    display: flex;
    align-items: center;
    margin: 10px 0 5px 0;
    cursor: pointer;
    user-select: none;
}